@model FoodDiaryViewModel
@{
    ViewData["Title"] = $"{Model.User.UserName}'s diary for {Model.Date.ToString("dd-MM-yyyy")}";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <a asp-controller="Foods" asp-action="Diary" asp-route-username="@Model.User.UserName" asp-route-date="@Model.Date.AddDays(-1).ToString("dd-MM-yyyy")">Yesterday</a>
    <h1>@ViewData["Title"]</h1>
    <a asp-controller="Foods" asp-action="Diary" asp-route-username="@Model.User.UserName" asp-route-date="@Model.Date.AddDays(1).ToString("dd-MM-yyyy")">Tomorrow</a>
</div>

@{ 
    var goalCalories = Model.Goal == null ? 0 : Model.Goal.Calories;
    var goalProtein = Model.Goal == null ? 0 : Model.Goal.Protein;
    var goalCarbs = Model.Goal == null ? 0 : Model.Goal.Carbohydrates;
    var goalFats = Model.Goal == null ? 0 : Model.Goal.Fats;
}


<table class="table">
    <thead>
        <tr>
            <th>Meal</th>
            <th>Calories</th>
            <th>Protein</th>
            <th>Carbs</th>
            <th>Fats</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var meal in Model.Meals)
        {
            <tr>
                <td>@meal.Name</td>
                <td>@meal.Calories kcal</td>
                <td>@meal.Protein g</td>
                <td>@meal.Carbohydrates g</td>
                <td>@meal.Fats g</td>
            </tr>
        }
        <tr>
            <td>Totals</td>
            <td>@Model.Meals.Sum(m => m.Calories) kcal</td>
            <td>@Model.Meals.Sum(m => m.Protein) g</td>
            <td>@Model.Meals.Sum(m => m.Carbohydrates) g</td>
            <td>@Model.Meals.Sum(m => m.Fats) g</td>
        </tr>
        <tr>
            <td>Goal</td>
            <td>@goalCalories kcal</td>
            <td>@goalProtein g</td>
            <td>@goalCarbs g</td>
            <td>@goalFats g</td>
        </tr>
        <tr>
            <td>Remaining</td>
            <td>@(goalCalories - Model.Meals.Sum(m => m.Calories)) kcal</td>
            <td>@(goalProtein - Model.Meals.Sum(m => m.Protein)) g</td>
            <td>@(goalCarbs - Model.Meals.Sum(m => m.Carbohydrates)) g</td>
            <td>@(goalFats - Model.Meals.Sum(m => m.Fats)) g</td>
        </tr>
    </tbody>
</table>

<a asp-controller="Foods" asp-action="AddToDiary" asp-route-date="@Model.Date.ToString("dd-MM-yyyy")" asp-route-username="@Model.User.UserName">Add Food</a>
