@model AllUsersListingViewModel
@{
    ViewData["Title"] = "All Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>
<h2 style="color:green">@TempData["Success"]</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Username
            </th>
            <th>
                Email
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.AllUsers)
        {
            var isActive = user.IsActive ? "Deactive" : "Activate";
        <tr>
            <td>
                @user.Id
            </td>
            <td>
                <a asp-controller="Users" asp-action="Profile" asp-route-username="@user.UserName">@user.UserName</a>
            </td>
            <td>
                @user.Email
            </td>
            <td>
                <form method="post" onclick="return confirm('Are you sure you want to do this?')" asp-controller="Admins" asp-action="ChangeUserStatus" asp-route-id="@user.Id" asp-route-isactive="@user.IsActive">
                    <input type="submit" value="@isActive" class="btn btn-danger" />
                </form>
            </td>
            <td>
                <a asp-controller="Admins" asp-action="AddToRole" asp-route-id="@user.Id" class="btn btn-primary">Roles</a>
            </td>
            <td>
                <a asp-controller="Admins" asp-action="ChangePassword" class="btn btn-warning" asp-route-id="@user.Id">Change Password</a>
            </td>
        </tr>
        }   
    </tbody>
</table>